.white{
    background-color: white;
}
.head{
    width: 100vw;
    height: 10vh;
    background-color: brown;
}
.userInfo{
    box-sizing: border-box;
    margin-top: 2%;
    height: 85vh;
    margin-right: 2%;

} 

.filterUser{
    margin-top: 2%;
    height: 85vh;
}

.navOn{
    width: 14.5%;
}

.navOff{
    width: 5%;
}

body{
    background-color: aqua;
}
