.white{
    background-color: white;
}
.head{
    color: blue;
    font-size: 1.5rem;
    margin-right: 0%;
    padding-top: 2%;
    padding-right: 4%;
    text-align: end;
    margin-top: 2%;
    width: 100vw;
    height: 10vh;
}
.userInfo{
    box-sizing: border-box;
    height: 80vh;
    margin-right: 2%;

} 

.filterUser{
    margin-top: 2%;
    height: 85vh;
}

.navOn{
    width: 14.5%;
}

.navOff{
    width: 5%;
}

body{
    background-color: aqua;
}
