.white{
    background-color: white;
}

.userInfo{
    box-sizing: border-box;
    margin-top: 2%;
    height: 85vh;
    margin-right: 2%;

} 

.filterUser{
    margin-top: 2%;
    height: 85vh;
}

.navOn{
    width: 14.5%;
}

.navOff{
    width: 5%;
}


