.formFilter{
     width: 100%;
    font-size: 0.8rem;
    height: 80%;
    padding: 5%;
   
}
.filter{
    width: 13vw;
    height: 80vh;
    box-sizing: content-box;
}
.form-label{
    margin-bottom: 0;
}